
.div-header{
    padding: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px;
    border-color: #387EF5;
    background-color: rgba(56, 126, 245,0.1);
    //color: #fff;
}
.card-header{
        background-color: rgb(56, 126, 245);
        color: #fff;
        }
.icon{
        //background-color: #3B5998 !important;
        color: #387EF5;
}

.div-class{
    margin: 0px;
    padding: 0px;
    background-color: rgba(56, 126, 245,0.1);
}

.p-class-footer{
    margin: 0px;
    padding: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
}
