.p-class{
    padding: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.div-class{
    background-color: rgba(56, 126, 245,0.1);
}

.p-class-footer{
    margin: 0px;
    padding: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
}
